# OSX noise
.DS_Store

# IntelliJ Idea noise
.idea
*.iws
*.ipr
*.iml

# Python
__pycache__
*.pyc
*.ipynb_checkpoints

# Big Datasets
bottle.csv
cleanedCars.csv
gaussianBlobs.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

